.container {
	@include flex-columnn-center;
	text-align: center;
	margin-bottom: 80px;
}
.imagebox {
	margin-bottom: 47px;
}
.textcontent {
	h2 {
		font-size: var(--md-header-fs);
		margin-bottom: 22px;
	}
	p {
		font-size: var(--lg-body-fs);
	}
}
