@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

// Colors and Values

:root {
	--dark-greyblue-900: #333d4b;
	--dark-cyan-600: #0e8784;
	--medium-grey-400: #83888f;
	--light-orange-200: #fdd6ba;
	--light-cream-100: #fefcf7;

	//headings
	--xl-header-fs: 40px;
	--md-header-fs: 28px;
	--xs-header-fs: 24px;

	//body
	--lg-body-fs: 16px;
	--md-body-fs: 15px;
	--sm-link-fs: 12px;

	@media (min-width: 667px) {
		--xl-header-fs: 48px;
		--md-header-fs: 32px;
		--xs-header-fs: 24px;
	}

	@media (min-width: 1050px) {
		--xl-header-fs: 72px;
		--md-header-fs: 40px;
		--md-body-fs: 16px;
	}
}

@import 'reset';

// Typography

h1,
h2,
h3,
h4,
button,
span {
	font-family: 'Fraunces', serif;
	font-weight: 900;
}

.title-alternate-big {
	font-size: 72px;
	text-transform: lowercase;
}

p,
.nav-link,
a {
	font-family: 'Barlow', sans-serif;
}

p {
	font-size: 16px;
	line-height: 26px;
}

.nav-link {
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	letter-spacing: 1;
}

// buttons

.button-primary {
	width: 217px;
	height: 56px;
	background-color: var(--dark-cyan-600);
	color: var(--light-cream-100);
	font-size: 18px;
	transition: 0.2s all linear;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 18;

	&:hover {
		background-color: #66d2cf;
	}
	&:disabled {
		background-color: #e2dedb;
	}
}

//utilities
.alternate-title {
	text-align: center;
	font-size: var(--xl-header-fs);
	text-transform: lowercase;
	background-image: linear-gradient(0deg, rgba(254, 252, 247, 1) 0%, rgba(131, 136, 143, 1) 100%);
	background-clip: text;
	color: transparent;
	margin-top: 120px;
	margin-bottom: 24px;
}
