@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --dark-greyblue-900: #333d4b;
  --dark-cyan-600: #0e8784;
  --medium-grey-400: #83888f;
  --light-orange-200: #fdd6ba;
  --light-cream-100: #fefcf7;
  --xl-header-fs: 40px;
  --md-header-fs: 28px;
  --xs-header-fs: 24px;
  --lg-body-fs: 16px;
  --md-body-fs: 15px;
  --sm-link-fs: 12px;
  --page-margin: 24px;
  --page-container: 1200px;
  --media-tablet: 768px;
  --media-desktop: 1140px;
}

@media (min-width: 768px) {
  :root {
    --xl-header-fs: 48px;
    --md-header-fs: 32px;
    --xs-header-fs: 24px;
    --page-margin: 40px;
  }
}

@media (min-width: 1140px) {
  :root {
    --xl-header-fs: 72px;
    --md-header-fs: 40px;
    --md-body-fs: 16px;
    --page-margin: 80px;
  }
}

body {
  background-color: var(--light-cream-100);
  color: var(--dark-greyblue-900);
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
button,
span,
li {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

p,
.nav-link,
a {
  font-family: 'Barlow', sans-serif;
}

p {
  font-size: 16px;
  line-height: 26px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--dark-greyblue-900);
}

a:hover {
  font-weight: 700;
}

section {
  margin: 0 var(--page-margin);
}

@media (min-width: 1280px) {
  section {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.button-primary {
  width: 217px;
  height: 56px;
  background-color: var(--dark-cyan-600);
  color: var(--light-cream-100);
  font-size: 18px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18;
}

.button-primary:hover {
  background-color: #66d2cf;
}

.button-primary:disabled {
  background-color: #e2dedb;
}

.alternate-title {
  text-align: center;
  text-transform: lowercase;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fefcf7), to(#83888f));
  background-image: linear-gradient(0deg, #fefcf7 0%, #83888f 100%);
  background-clip: text;
  color: transparent;
  opacity: 0.7;
}

.white-cup-image {
  background-image: url(../public/assets/about/mobile/image-hero-whitecup.jpg);
}

@media (min-width: 768px) {
  .white-cup-image {
    background-image: url(../public/assets/about/tablet/image-hero-whitecup.jpg);
  }
}

@media (min-width: 1140px) {
  .white-cup-image {
    background-image: url(../public/assets/about/desktop/image-hero-whitecup.jpg);
  }
}

.black-cup-image {
  background-image: url(../public/assets/plan/mobile/image-hero-blackcup.jpg);
}

@media (min-width: 768px) {
  .black-cup-image {
    background-image: url(../public/assets/plan/tablet/image-hero-blackcup.jpg);
  }
}

@media (min-width: 1140px) {
  .black-cup-image {
    background-image: url(../public/assets/plan/desktop/image-hero-blackcup.jpg);
  }
}

.li-selected {
  color: var(--dark-greyblue-900);
  border-bottom: 1px solid var(--dark-greyblue-900);
}

.li-selected span {
  color: var(--dark-cyan-600);
}

.tabletAndUp {
  display: none;
}

@media (min-width: 768px) {
  .tabletAndUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobileOnly {
  display: block;
}

@media (min-width: 768px) {
  .mobileOnly {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */