.commitment_container {
  text-align: center;
  padding: 0 24px;
  margin-top: 120px;
}

@media (min-width: 768px) {
  .commitment_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    text-align: left;
  }
}

@media (min-width: 1140px) {
  .commitment_container {
    grid-column-gap: 125px;
  }
}

.commitment_imagebox {
  max-height: 400px;
  margin-bottom: 48px;
  border-radius: 12px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .commitment_imagebox {
    margin: 0;
    max-height: none;
  }
  .commitment_imagebox img {
    border-radius: 12px;
    margin: 0;
  }
}

.commitment_textcontent h2 {
  font-size: var(--md-header-fs);
  margin-bottom: 30px;
}

.commitment_textcontent p {
  font-size: var(--md-body-fs);
}

@media (min-width: 1140px) {
  .commitment_textcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commitment_textcontent h2 {
    margin-bottom: 32px;
  }
}

.quality_container {
  text-align: center;
  padding: 24px;
  margin-top: 120px;
  position: relative;
  color: var(--light-cream-100);
}

.quality_container::after {
  content: '';
  background-color: var(--dark-greyblue-900);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  border-radius: 12px;
}

@media (min-width: 1140px) {
  .quality_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 7fr 5fr;
        grid-template-columns: 7fr 5fr;
  }
}

.quality_imagebox {
  max-height: 400px;
  margin-bottom: 48px;
  border-radius: 12px;
  overflow: hidden;
}

.quality_imagebox img {
  border-radius: 12px;
  margin: auto;
}

@media (min-width: 1140px) {
  .quality_imagebox {
    -ms-grid-column: 2;
    grid-column: 2;
    max-height: none;
  }
}

.quality_textcontent {
  margin-bottom: 61px;
}

.quality_textcontent h2 {
  font-size: var(--md-header-fs);
  margin-bottom: 30px;
}

.quality_textcontent p {
  font-size: var(--md-body-fs);
}

@media (min-width: 1140px) {
  .quality_textcontent {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 76px;
    max-width: 540px;
    margin: 80px auto 0;
  }
}

.hq_container {
  margin-bottom: 120px;
  margin-top: 120px;
}

.hq_container h2 {
  margin-bottom: 72px;
  font-size: 28px;
}

@media (min-width: 768px) {
  .hq_container h2 {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .hq_card_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=index.module.css.map */