@import '../../styles/mixins';

.how_container {
	@include flex-columnn-center;
	background-color: var(--dark-greyblue-900);
	color: var(--light-cream-100);
	border-radius: 12px;
	padding: 24px 0 56px;
	margin: 120px 0;
	h2 {
		color: var(--medium-grey-400);
		margin: 96px 0 24px 0;
		text-align: center;
	}
	button {
		display: block;
		margin-top: 79px;
	}
	@media (min-width: $media-tablet) {
		align-items: flex-start;
		margin: 120px 0 144px;
		padding: 100px 40px 70px;
		h2 {
			margin: 144px 0 40px 0;
		}
	}
	@media (min-width: $media-desktop) {
		margin-top: 120px;
		margin-bottom: 200px;
		padding: 100px;
		margin: 120px auto 200px;
		max-width: 1280px;
		h2 {
			margin: 200px 0 80px 0;
		}
	}
}

.how_illustration {
	display: none;
	align-items: center;
	width: 90%;
	.circle {
		width: 31px;
		height: 31px;
		border-radius: 50%;
		border: 2px solid var(--dark-cyan-600);
		background-color: transparent;
	}
	.line {
		height: 2px;
		width: 27vw;
		background-color: var(--light-orange-200);
	}
	@media (min-width: $media-tablet) {
		display: flex;
	}
	@media (min-width: $media-desktop) {
		.line {
			width: 350px;
		}
	}
}

.how_card_container {
	@include flex-columnn-center;
	@media (min-width: $media-tablet) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		align-items: flex-start;
	}
	@media (min-width: $media-desktop) {
		grid-column-gap: 95px;
	}
}

.summary_container {
	background-color: var(--dark-greyblue-900);

	padding: 32px 24px;
	border-radius: 8px;
	h2 {
		color: var(--medium-grey-400);
		font-family: 'Barlow', sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		font-size: var(--lg-body-fs);
		margin-bottom: 8px;
	}
	p {
		color: var(--light-cream-100);
		font-size: var(--xs-header-fs);
		font-family: 'Fraunces', serif;
		font-weight: 900;
		line-height: 40px;
	}
	span {
		color: var(--dark-cyan-600);
	}
}

.options_container {
	display: flex;
	margin-bottom: 120px;
}
.options_menu {
	display: none;
	@media (min-width: $media-desktop) {
		@include flex-columnn-center;
		width: 25%;
		align-items: flex-start;
		justify-content: flex-start;
		color: var(--medium-grey-400);
		margin: 0 24px 0 0;
		ul {
			list-style: none;
			font-size: 24px;
			li {
				padding-bottom: 24px;
				border-bottom: 1px solid var(--medium-grey-400);
				margin-bottom: 24px;
			}
		}
	}
}
.options_card_container {
	@include flex-columnn-center;
	button {
		margin-top: 56px;
	}
	@media (min-width: $media-tablet) {
		.summary_container {
			max-width: 689px;
			padding: 27px 44px;
		}
	}
	@media (min-width: $media-desktop) {
		.summary_container {
			max-width: 730px;
			padding: 47px 64px;
		}
		button {
			margin-left: auto;
		}
	}
}

// MODAL

.modal_page_container {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	@include flex-columnn-center;
}
.modal_container {
	width: 90%;
	margin: 40px 30px;
	height: 597px;
	border-radius: 12px;
	background-color: var(--light-cream-100);
	@media (min-width: $media-tablet) {
		width: 540px;
		height: 597px;
	}
}

.modal_header {
	background-color: var(--dark-greyblue-900);
	color: var(--light-cream-100);
	padding: 28px 24px;
	border-radius: 12px 12px 0 0;
	h2 {
		font-size: 28px;
	}
	@media (min-width: $media-tablet) {
		padding: 48px 56px;
		h2 {
			font-size: 40px;
		}
	}
}

.modal_content {
	padding: 28px 24px;
	@include flex-columnn-center;

	.modal_plan {
		font-size: 24px;
		line-height: 40px;
		font-family: 'Fraunces', serif;
		font-weight: 900;
		margin-bottom: 10px;
	}
	.modal_details {
		margin-bottom: 24px;
	}
	@media (min-width: $media-tablet) {
		padding: 48px 56px;
		.modal_details {
			font-size: 15px;
			margin-bottom: 47px;
		}
	}
}

.modal_checkout {
	p {
		font-size: 32px;

		font-family: 'Fraunces', serif;
		font-weight: 900;
		margin-right: 1rem;
	}
	display: none;
	align-items: center;
	justify-content: space-between;
	margin-top: 47px;
	@media (min-width: $media-tablet) {
		display: flex;
	}
}
